.dock {
  display: flex;
  background-color: rgba(32, 31, 31, 0.508);
  width: fit-content;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 0.75rem;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%);
  gap: 0.75rem;
  transition: all 0.3s linear;

  backdrop-filter: blur(50px);

  .icon {
    // background-color: rgb(132, 129, 129);
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
    border-radius: 0.55rem;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon:hover {
    transform: scale(1.3) translateY(-20%);
  }

  .icon:hover + .icon,
  .icon:has(+ .icon:hover) {
    transform: scale(1.25) translateY(-10%);
  }

  .github,
  .cli {
    background-color: rgb(15, 15, 15);
  }
  .notes {
    background: linear-gradient(
      to bottom,
      rgb(234, 204, 54),
      rgb(210, 185, 77)
    );
  }
  .mail,
  .calendar {
    background: linear-gradient(
      to bottom,
      rgb(30, 52, 225),
      rgb(146, 131, 229)
    );
  }
  .spotify {
    background: linear-gradient(to bottom, rgb(41, 210, 7), rgb(10, 165, 62));
  }
  .link {
    background: linear-gradient(to bottom, rgb(228, 51, 231), rgb(114, 7, 107));
  }

  .pdf {
    background-color: rgb(214, 25, 25);
  }

  img {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
}
