.cards {
  overflow: auto;
  height: 100%;
  padding: 0.75rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;

  padding-bottom: 5rem;
  .card {
    padding: 0.55rem;

    flex-grow: 1;
    flex-basis: 14rem;
    max-width: 20rem;

    background-color: #282828;
    border-radius: 0.75rem;
    overflow: hidden;
    color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    img {
      width: 100%;
      border-radius: 0.75rem;
    }

    h1 {
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    .description {
      opacity: 0.6;
      word-spacing: 0.3rem;
      line-height: 1.05rem;
    }

    .tags {
      padding-top: 0.2rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: wrap;
      .tag {
        width: fit-content;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        background-color: #000000;
        padding-inline: 0.75rem;
        padding-block: 0.55rem;

        border-radius: 0.5rem;
        white-space: nowrap;
      }
    }

    .urls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
        background-color: #404040;
        padding-inline: 0.55rem;
        padding-block: 0.25rem;
        border-radius: 0.75rem;
        cursor: pointer;
      }
    }
  }
}
