.window {
  height: 300px;
  width: 500px;
  background-color: #000000;
  border-radius: 0.75rem;

  overflow: hidden;

  .nav {
    display: flex;
    align-items: center;
    background-color: #4f4d4d;
    padding-inline: 0.75rem;
    padding-block: 0.1rem;
    gap: 1.5rem;

    .dots {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.25rem;
      cursor: pointer;

      p {
        text-transform: capitalize;
      }
      .dot {
        height: 15px;
        width: 15px;

        background-color: #fff;
        border-radius: 50%;
      }
      .red {
        background-color: red;
      }
      .yellow {
        background-color: yellow;
      }
      .green {
        background-color: green;
      }
    }
  }
  .main {
    height: 100%;
  }
}
